In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading the CSV
df = pd.read_csv('Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
#converting strings ('Yes'/'No') to '1/0'
df['Extracurricular Activities'] = df['Extracurricular Activities'].apply(lambda x: 1 if x == "Yes" else 0)
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [4]:
#separating the predictor and target variables
X = df.iloc[:,0:5]
y = df.iloc[:,-1]

In [5]:
#splitting the training and testing dataset with 80-20 as training-testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [6]:
#importing 'LinearRegression' class from the module 'linear_model' under the library Scikit-learn
from sklearn.linear_model import LinearRegression
#creating an object of the class 'LinearRegression'
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)
y_predict = lin_reg.predict(X_test)

#calculating the regression weights and offset of MLR model: 
#y_hat=beta_0+(beta_1*X_1)+(beta_2*X_2)+(beta_3*X_3)+(beta_4*X_4)+(beta_5*X_5)
print('Coefficients (Scikit-learn_LR): ',lin_reg.coef_)
print('Intercept (Scikit-learn_LR): ',lin_reg.intercept_)

Coefficients (Scikit-learn_LR):  [2.85352109 1.01959723 0.59483017 0.48314352 0.1977199 ]
Intercept (Scikit-learn_LR):  -34.17752765121658

In [7]:
#calculating regression matrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print('MAE (Scikit-learn_LR): ', mean_absolute_error(y_test,y_predict))
print('MSE (Scikit-learn_LR): ', mean_squared_error(y_test,y_predict))
print('RMSE (Scikit-learn_LR): ', np.sqrt(mean_squared_error(y_test,y_predict)))
print('R2 Score (Scikit-learn_LR): ', r2_score(y_test,y_predict))
#adjusted R2-score
n = X_test.shape[0]
k = X_test.shape[1]
r2_scr = r2_score(y_test,y_predict)
adjusted_r2_score = 1-(((1-r2_scr)*(n-1))/(n-1-k))
print('Adjusted R2-Score (Scikit-learn_LR): ', adjusted_r2_score)
print('\n')

MAE (Scikit-learn_LR):  1.592672061203929
MSE (Scikit-learn_LR):  4.070278591652589
RMSE (Scikit-learn_LR):  2.0174931453793317
R2 Score (Scikit-learn_LR):  0.9890954655668953
Adjusted R2-Score (Scikit-learn_LR):  0.989068122200714